<div class="d-flex justify-content-around">
  <ul class="list-inline">
    <li class="font-weight-bold">
      <a href="/filmes">Filmes</a>
    </li>
    <li>
      <a href="/filmes/estreias">Estréias</a>
    </li>
    <li>
      <a href="/filmes/cinemas">Nos Cinemas</a>
    </li>
    <li>
      <a href="/filmes/em-breve">Em breve</a>
    </li>
  </ul>
  <ul class="list-inline">
    <li class="font-weight-bold">
      <a href="/series">Séries</a>
    </li>
    <li>
      <a href="/series/estreias">Estréias</a>
    </li>
    <li>
      <a href="/series/em-breve">Em breve</a>
    </li>
  </ul>
  <ul class="list-inline">
    <li class="font-weight-bold">
      <a href="/noticias">Notícias</a>
    </li>
    <li>
      <a href="/noticias/populares">Populares</a>
    </li>
    <li>
      <a href="/noticias/recentes">Recentes</a>
    </li>
  </ul>
</div>
<div class="text-center">
  <span class="text-muted">
    ©2017 Cinema. Todos os direitos reservados.
  </span>
</div>