<mat-toolbar color="primary" role="heading">
  <mat-toolbar-row>
    <div fxHide.gt-sm>
      <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <a mat-button routerLink="/">
      <img style="height: 2rem; padding-right: 1rem" src="../../../../assets/img/angular.svg" alt="angular">
      <span class="mat-h1">Cinema Web</span>
    </a>
    <div fxFlex fxLayoutAlign="flex-end">
      <ul fxLayout>
        <li>
          <a mat-button routerLink="/" fxLayoutAlign="end">
            <mat-icon fxLayoutGap="20px">local_movies</mat-icon>
            <span class="mat-h3" style="padding-left: 0.2rem">Filmes</span>
          </a>
        </li>
        <li>
          <a mat-button routerLink="/" fxLayoutAlign="end">
            <mat-icon>live_tv</mat-icon>
            <span class="mat-h3" style="padding-left: 0.2rem">Séries</span>
          </a>
        </li>
        <li>
          <a mat-button routerLink="/" fxLayoutAlign="end">
            <mat-icon>fiber_new</mat-icon>
            <span class="mat-h3" style="padding-left: 0.2rem">Notícias</span>
          </a>
        </li>
        <li *ngIf="true">
          <a mat-button routerLink="/" fxLayoutAlign="end">
            <mat-icon>input</mat-icon>
            <span class="mat-h3" style="padding-left: 0.2rem">Login</span>
          </a>
        </li>
        <li *ngIf="false">
          <a mat-button routerLink="/" fxLayoutAlign="end">
            <mat-icon>input</mat-icon>
            <span class="mat-h3" style="padding-left: 0.2rem">Logout</span>
          </a>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
